@charset "UTF-8";

/* Configurações Gerais */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body,html {
    background-color: antiquewhite;
}

header {
    background-color: cadetblue;
}

header > h1 {
    color: aliceblue;
    padding: 10px;
    text-align: center;
}


/* CONFIGURAÇÃO DO MENU */
span#burguer {
    background-color: rgb(37, 60, 61);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;/* mudar cursor quando estiver no item*/
}

span#burguer:hover {
    background-color: white;
    color: black;
}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    color: aliceblue;
    text-align: center;
    display: block;
    border-top: 2px solid cadetblue;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(59, 97, 99);
}

nav > ul > li > a:hover {
    background-color: rgb(122, 206, 209);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 30px; /* paragrafo*/
}