@charset "UTF-8";


header {
    background-color: black;
    color: white;
    text-align: center;
}

main {
    background-color: antiquewhite;
}

section {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    margin-top: 50px;
}

#joaninha {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#carta {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}
