@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: aqua;
    background-image: url(../imagens/fundo-madeira.jpg);
    text-align: center;
}

li {
    padding: 5px;
    text-align: right;
}

img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50% 50% 50% 50%;
}



iframe { 
    width: 330px;
    height: 550px;
}

