@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 600px;
    padding: 10px;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #96225a;
}
h1 {
    color: #EC368D;
    text-align: center;
    text-shadow: 1px 1px 0px #9e255f83;
    ;
}

h2 {
    color: #7E1946;
    text-align: center;
    text-shadow: 1px 1px 0px #50102d79;
}
p {
    text-align: justify;
}

body {
    background-image: linear-gradient( to top,#72E1D1,#0C6291);
    background-attachment: fixed;
}